

header{
	background: url(high.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.iconn{
	position: absolute;
	bottom: 0;
	left: 50%;
	padding-bottom: 20px;
}

.padd{
	padding-top: 5vw;
}

.color{
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.grey{
	margin-top: -30px !important;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media screen and (max-width: 730px){
	header{
		min-height: 60vh !important;
	}
	.iconn{
		position: inherit;
		margin-left: 45%;
	}
}

